.container {

}

button {
	background-color: black;
	height: 250px;
	width: 250px;
}

#rock {
	background-image: url("media/rock.png");
}

#paper {
	background-image: url("media/paper.png");
}

#scissors {
	background-image: url("media/scissors.png");
}
