html {
  font-family: Georgia, serif;
}

body {
  background: #101439;
  color: white;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  height: 250px;
}

.child {
  width: 250px;
  height: 250px;
  padding: 10px;
  margin: auto;
}
